<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loyalty Points Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <!-- Main css -->
      <link rel="stylesheet" href="/dashboard.css">
      <link rel="stylesheet" href="/footer.css">
    
      </head>
      <body>

    

  

      
      <div class="container text-center">
          <!-- Total Points Balance (Centered) -->
          <div class="row justify-content-center" style="margin-top: 10vh;">
              <div class="col-md-6">
                  <div class="balance-display">
                       <h2>Current Balance <a href="/gift-card/redeem" class="btn-add-balance">+</a></h2>
                      <p class="points-balance"><%= data.balance %> Points</p>
                  </div>
              </div>
          </div>
          
          
      
          <!-- Recent Transactions (Initially Showing Latest Two) -->
          <div class="row justify-content-center mt-4">
              <div class="col-md-6">
                  <div class="card p-3 transaction-card" id="transactions-container">
                    <h3>Recent Transactions</h3>
                      <!-- Example Transactions (First two will be initially visible) -->
                      <ul class="list-group list-group-flush" id="transaction-list">
                        <% data.transactions.forEach(transaction => { %>
                            <li class="list-group-item"><%= transaction.type %> <%= transaction.amount %> Points at <%= moment(transaction.createdAt).format('lll') %></li>
                        <% }) %>
                        
                          <!-- <li class="list-group-item">Add From [org. name] $123 </li>
                          <li class="list-group-item"> Redeem $857483</li>
                          <li class="list-group-item extra">Redeem $7483</li>
                          <li class="list-group-item extra">Add From [org. name] $3</li> -->
                          <!-- More transactions will be added here and initially hidden -->
                      </ul>
                  </div>
                  <!-- <button class="btn btn-custom mt-2" id="toggleButton" onclick="toggleTransactions()">Show More</button> -->
              </div>
              
          </div>

          
        
            <!-- Gift Cards Section -->
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <div class="gift-cards-container">
                        <h3>Available Rewards</h3>
                        <div class="row">
                            <!--  Gift Card -->
                            <% data.rewards.forEach(reward => { %>
                            <div class="col-md-4">
                                <div class="gift-card">
                                    <p><%= reward.name %> <br> <span class="text-secondary"><%= reward.price %> Points</span></p>
                                    <a class="redeem text-primary" href="/reward/<%= reward.id %>"> Redeem 游꾸</a>
                                    
                                </div>
                            </div>
                            <% }) %>
                            <!-- Gift Card 2 -->
                            <!-- <div class="col-md-4">
                                <div class="gift-card">
                                    <p>Gift Card 2 - Price: 1000 Points</p>
                                    <span class="redeem"> Redeem 游꾸</span>
                                </div>
                            </div> -->
                            <!-- Gift Card 3 -->
                            <!-- <div class="col-md-4">
                                <div class="gift-card">
                                    <p>Gift Card 3 - Price: 1500 Points</p>
                                    <span class="redeem"> Redeem 游꾸</span>
                                </div>
                            </div> -->
                            <!-- Gift Card 4 -->
                            <!-- <div class="col-md-4">
                                <div class="gift-card">
                                    <p>Gift Card 4 - Price: 1500 Points</p>
                                    <span class="redeem"> Redeem 游꾸</span>
                                </div>
                            </div> -->
                            <!-- Gift Card 5 -->
                            <!-- <div class="col-md-4">
                                <div class="gift-card">
                                    <p>Gift Card 5 - Price: 1500 Points</p>
                                    <span class="redeem"> Redeem 游꾸</span>
                                </div>
                            </div> -->
                            <!-- More gift cards can be added in similar fashion -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container text-center"> -->
            <!-- Square Cart Button at the Top Right -->
            <!-- <div class="view-cart">
                <button class="btn-cart">&#x1F6D2;</button>
            </div>
        
        </div> -->
        
        
        




<!-- Sidebar -->
<div class="sidebar">

        <!-- Logo at the Top -->
        <div class="sidebar-logo">
            <img src="/logo/logo2.png" alt="Logo">
        </div>
    

    <!-- Buttons in the Middle -->
    <div class="sidebar-middle">
        <a class="btn btn-primary sidebar-button" href="/gift-card/redeem">Add Balance</a>
        
        <!-- <button class="btn btn-secondary sidebar-button">Redeem</button> -->
    </div>
    <div class="sidebar-signout">
        <form action="/account/logout" method="post">
            <input type="submit" class="btn btn-warning btn-sm" value="Sign Out">
        </form>
    </div>
</div>



          
          
          
        <%- include ('partials/footer') %>


      
  
      <script src="/main.js"></script>
      
      </body>
      </html>
      
    
